[submodule "themes/hemingway"]
	path = themes/hemingway
	url = https://github.com/tanksuzuki/hemingway.git
	branch = master
[submodule "static/images"]
	path = static/images
	url = https://github.com/tonyklawrence/tonyklawrence.github.io.git
	branch = images
[submodule "content/post"]
	path = content/post
	url = https://github.com/tonyklawrence/tonyklawrence.github.io.git
	branch = posts
[submodule "public"]
	path = public
	url = https://github.com/tonyklawrence/tonyklawrence.github.io.git
	branch = master
